<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Here is your list of transactions.</p>
    <div class="container">
      <table class="table table-striped">
        <div class="row align-items-start">
          <div class="col-sm border text-center p-around">
            <a href="/groupBy" class="btn btn-primary"> group by category </a>
          </div>
          <div class="col-sm border text-center p-around">
            <a href="?sortBy=category" class="btn btn-primary">
              sort by category
            </a>
          </div>
          <div class="col-sm border text-center p-around">
            <a href="?sortBy=amount" class="btn btn-primary">
              sort by amount
            </a>
          </div>
          <div class="col-sm border text-center p-around">
            <a href="?sortBy=description" class="btn btn-primary">
              sort by description
            </a>
          </div>
          <div class="col-sm border text-center p-around">
            <a href="?sortBy=date" class="btn btn-primary">
              sort by date
            </a>
          </div>
        </div>
        <thead>
          <tr>
            <th scope="col" class="col-sm border">description</th>
            <th scope="col" class="col-sm border">amount</th>
            <th scope="col" class="col-sm border">category</th>
            <th scope="col" class="col-sm border">date</th>
            <th scope="col" class="col-sm border">delete</th>
            <th scope="col" class="col-sm border">edit</th>
          </tr>
        </thead>
        <tbody>
          <% transactions.forEach(transaction => { %>
          <tr>
            <td class="col-sm border p-around">
              <%= transaction.description %>
            </td>
            <td class="col-sm border p-around"><%= transaction.amount %></td>
            <td class="col-sm border p-around"><%= transaction.category %></td>
            <td class="col-sm border p-around"><%= transaction.date %></td>
            <td class="col-sm border p-around">
              <a href="/transactions/remove/<%=transaction._id %>">
                <i class="bi bi-trash"></i>
              </a>
            </td>
            <td class="col-sm border p-around">
              <a href="/transactions/edit/<%=transaction._id %>"
                ><i class="bi bi-pencil-square"></i
              ></a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>

      <div id="addNewTransCon">
        <h2>Add a New Transaction</h2>
        <form id="addNewTransaction" method="post" action="/transactions/add">
          <input type="text" name="description" placeholder="description" />
          <input type="text" name="category" placeholder="category" />
          <input type="text" name="amount" placeholder="amount" />
          <input type="text" name="date" placeholder="mm/dd/yyyy" />
          <input type="submit" value="store" />
        </form>
      </div>
    </div>
  </body>
</html>
